/* StepWelcome 중앙 레이아웃 */
.step-welcome-center {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
      circle at 110% 35%,
      rgba(128, 165, 246, 0.3),
      transparent 30%
    ),
    radial-gradient(
      circle at -10% 70%,
      rgba(128, 165, 246, 0.3),
      transparent 30%
    ),
    #141414;
  padding-top: 0;
  box-sizing: border-box;
}

.step-star-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: -16rem;
}
.step-star-img-one {
  width: 90px;
  height: 90px;
  filter: drop-shadow(0 0 30px rgba(128, 165, 246, 1)) brightness(1.2);
}

.step-title.step-welcome-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
}
.step-desc.step-welcome-desc {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 7rem;
  line-height: 1.7;
}
/* 버튼 그룹을 화면 아래에서 10rem 위로 올림 */
.step-btn-group.step-welcome-btn-group {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background: #4bcdfd;
  padding: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.12);
}
/* 시작 버튼 width 줄임 */
.step-btn.step-welcome-btn {
  width: 100vw;
  height: 7rem;
  font-size: 1.8rem;
  color: #222;
  background: none;
  border: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-btn.step-welcome-btn:not(:disabled) {
  background: #4bcdfd;
  color: #222;
  border-radius: 0;
  box-shadow: none;
  transition: background 0.2s, color 0.2s;
}

.step-btn.step-welcome-btn:disabled {
  background: rgba(223, 246, 255, 0.1);
  color: white;
  opacity: 1;
  cursor: not-allowed;
}

.step-btn-group.step-welcome-btn-group:has(.step-btn.step-welcome-btn:disabled) {
  background: rgba(223, 246, 255, 0.1) !important;
}